/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --bs-dark: #004225;
  --bs-light: #f5f5dc;
  --bs-secondary: #ffcf9d;
  --bs-warning: #ee9322;
  /* --bs-warning: #E97224; */

  --bs-dark-rgb: 0, 66, 37;
  --bs-light-rgb: 245, 245, 220;
  --bs-secondary-rgb: 255, 207, 157;
  --bs-warning-rgb: 238, 147, 34;
  /* --bs-warning-rgb:233, 114, 36; */

  --bs-btn-color: #fff;

  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: var(--bs-dark);
}

.btn-warning {
  background-color: #ee9322 !important;
  border-color: #ee9322 !important;
  color: #004225;
}

.btn-warning:hover {
  background-color: #ffb26b !important;
  color: #198754;
}

.btn-dark {
  background-color: #004225 !important;
  border-color: #004225 !important;
  color: #ffcf9d !important;
}

.btn-dark:hover {
  background-color: #198754 !important;
  border-color: #219c90 !important;
}

.btn-secondary {
  background-color: #ffcf9d !important;
  border-color: #ffcf9d !important;
  color: #198754;
}

.btn-secondary:hover {
  background-color: #ffb000 !important;
}

::-webkit-scrollbar {
  display: none;
}

/* <MyPagination /> styles */

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-secondary);
  background-color: var(--bs-dark);
}

.page-link {
  color: var(--bs-success);
  background-color: var(--bs-light);
}

/* <BreedFinderForm /> styles */
.accordion-button {
  padding: 5px;
  font-size: 15px;
  background-color: var(--bs-light);
}
.accordion-button:focus {
  border-color: var(--bs-success);
  box-shadow: none;
}
.accordion-button.collapsed {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(25, 135, 84, 0.3);
}

.form-check-input {
  /* background-color: rgba(25,135,84, 0.3); */
  background-color: rgba(238, 147, 34, 0.3);
  border: 1px solid var(--bs-dark);
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  /* margin-top: .25em; */
  margin: 1px 3px 0 0;
}

.form-check-input:checked {
  background-color: var(--bs-dark);
  border-color: var(--bs-success);
}

/* <Tabs /> Styling */

.nav.nav-tabs {
  display: flex;
  flex-wrap: nowrap;
  border: none;
  overflow: scroll;
  position: relative;
  z-index: 10;
}
.nav.nav-tabs::before {
  background-color: var(--bs-secondary);
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  min-width: 800px;
  bottom: 0;
  left: 0;
  right: -100px;
  z-index: -1;
}

.nav-tabs button.nav-link {
  border-color: var(--bs-success);
  border-width: 2px;
  border-style: solid solid none;
  background-color: var(--bs-dark);
  margin: 0 0.15rem;
  white-space: nowrap;
  color: var(--bs-success);
}
.nav-tabs button.nav-link.active {
  border-style: outset;
  border-width: 2px;
  border-color: var(--bs-secondary) var(--bs-secondary) transparent;
  background-color: var(--bs-dark);
  color: var(--bs-secondary);
  margin-bottom: -1px;
}

.nav-tabs button.nav-link:hover {
  border-color: var(--bs-secondary) var(--bs-secondary) transparent;
  background-color: var(--bs-dark);
}

@media screen and (max-width: 575px) {
  .carousel-caption {
    position: static;
    --bs-bg-opacity: 100%;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
}
